{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Online Food Delivery Services | MyOnlineMeal.com</title>
    <link rel="stylesheet" href="{% static 'website/css/basestyle.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Bree+Serif&display=swap" rel="stylesheet">
<link rel="stylesheet" media="screen and (max-width: 1240px)" href="{% static 'website/css/phone.css' %}">
</head>
<body>

    <section id="paybar">
        <div class="logo">
            <img src="{% static 'website/img/logo3.png' %}" alt="MyOnlineMeal.com">
        </div>
        <h2>You have to pay ₹<h2>0</h2></h2>
        <button class="pay">Pay</button>
        
        </section>


    <section id="home">
        <h1 class="h-primary">Recipe</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, ipsum doloremque reiciendis fugiat beatae eligendi mollitia corporis maxime illo, quam earum quae!</p>
    </section>


    <section id="services-container">

        
        <div class="ingredients">
            <h1 class="h-primary">ingredients</h1>
            
<label class="container">Paneer
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>
<label class="container">Butter
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Onion
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Garlic
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
        </div>



        <div clas="recipe">
            <div class="recip-c">
            <h1 class="h-primary">instructions</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At illum sed veniam commodi molestiae debitis officia eos temporibus quae illo, dolores quibusdam magni tempore, cum ratione placeat assumenda maiores amet recusandae voluptates eaque tempora nihil aliquam! Maxime quaerat quia consectetur. Obcaecati adipisci facere sunt totam officia, cupiditate, enim distinctio quam in ipsum ullam. Dolor commodi ea, officiis, quis incidunt ab odit repellat porro molestias inventore nemo! Tempora.</p>
        </div>

        </div>
            
           
       
   
    
    </section>


    <section class="description">
        <h1 class="h-primary"></h1>


   

<footer>
    <div class="bottom">
        Copyright &copy; www.myOnlineMeal.com. All rights reserved!
    </div>
</footer>
</body>
</html>